<div class="container">
        <!-- Jumbotron -->
        <div class="jumbotron text-center blue darken-3 text-white py-1 my-4">
          <!-- Title -->
          <h2 class="card-title h2 pd-3 my-2"><strong>You found the mythical lost toy!</strong></h2>
      
          <!-- Card Image -->
          <div class="view overlay my-4">
            <img src="https://loremflickr.com/1920/1080/toy" class="img-fluid" alt="the lost toy">
          </div>
      
          <h5 class="orange-text h5 mb-4 font-weight-bold">404 Error</h5>
      
          <p class="card-text">
            But seriously, you must have entered something wrong, or there is a
            problem on our end. In the meantime, you should go back to the homepage,
            and keep looking for toys!
          </p>
      
          <a href="#" class="btn tempting-azure-gradient btn-rounded mb-4 text-dark font-weight-bold">Go Home!</a>
      
        </div>
</div>