nav{
  background-color: #75934e;
}

p, h1, h2, h3, h4, h5, h6{
  font-family: 'Nunito', sans-serif;
}

.toyoda-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

.toyoda-brand {
  color: white;
  text-decoration: none;
  transition: color 0.7s linear;
  -webkit-transition: color 0.7s linear;
  -moz-transition: color 0.7s linear;
}

.toyoda-brand:hover {
  color: #d6dfcb;
}

#sell-button {
  background-color: #9cc26a;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
}

#sell-button:hover{
  color:white;
}


body{
  background-color: #d5cfb6;
}

.carousel-content {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width:100%;
  z-index: 20;
  color: white;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold
}

.carousel-content-too {
  position: absolute;
  bottom: 10%;
  text-align: center;
  width:100%;
  z-index: 20;
  color: black;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  font-weight: bold
}

#buy-button{
  background-color: #203c34;
}

.list-group-item {
  line-height: 2.5;
}

/* #signout{
  display: block;
} */
.sell-form{
  margin-top: 15px;
}
.nav-link{
  margin-top: 1px;
}

#sold-text{
  font-family:"Yanone Kaffeesatz", sans-serif;
  font-size: 80px;
}

#buy-card{
  margin-top:20px;
}

#buy-title{
  font-size: 50px;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (max-width: 575px) {  
  #sell-button{
    font-size: 12px;
    height: 34px;
    padding-top:8px;
  }
}

@media (min-width: 768px) {  
  .card-columns {column-count: 4;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 4;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 5;} 
}

