nav{
  background-color: #75934e;
}

.navbar-brand {
  font-family: 'Fredoka One', cursive;
  font-size: 40px;
}

body{
  background-color: #d5cfb6;
}

#sell-button{
  background-color: #3c3c20;
}

.list-group-item {
  line-height: 2.5;
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  .card-columns {column-count: 4;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
 .card-columns {column-count: 4;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 5;} 
}

